
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>© 2025 Your Company. All Rights Reserved.</span>
        </div>
        <div class="text-center my-auto">
            <span>
                <a href="https://www.your-privacy-policy-link.com" target="_blank">Privacy Policy</a> | 
                <a href="https://www.your-terms-of-service-link.com" target="_blank">Terms of Service</a>
            </span>
        </div>
    </div>
</footer>



<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
